body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #top {
    text-align: center;
    margin: 0.5rem auto 0;
  }
  
  #top h3 {
    font-size: 1.5em;
    margin: 0.5rem 0;
  }
  
  #content {
    visibility: hidden;
    font-size: 1.20em;
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 0px;
  }
  
  /* Area that displays messages */
  #chat {
    padding-top: 0.2rem;
    visibility: hidden;
    background-color: gainsboro;
    width: 90%;
    height: 70%;
    margin: 2rem auto;
    overflow-y: auto;
    border: 2px solid gainsboro;
  }
  #title-message{
    margin: 0rem 0.5rem;
    padding: 0rem 0.2rem;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background-color:rgb(88, 88, 88);
    color: gainsboro;
  }
  
  /* Contains the user-name and user-message */
  .chat-message{
    margin: 0rem 0.5rem;
    padding: 0rem 0.2rem;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  
  /* Display the user's name next to their message */
  .user-name{
    margin-top: 0;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    text-align: left;
    padding: 0.1rem;
    padding-left: 0.25rem;
  }
  .user-black{
    color: black;
    border-color: black;
    background-color: darkgrey;
  }
  .user-blue{
    color: blue;
    border-color: blue;
    background-color:cornflowerblue;
  }
  .user-red{
    color:darkred;
    border-color: red;
    background-color: salmon;
  }
  
  /* Display the user's message by their name */
  .user-message{
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-left-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    color: black;
  }
  .message-black{
    border-color: black;
  }
  .message-blue{
    border-color: blue;
  }
  .message-red{
    border-color: red;
  }
  
  /* Area to send messages */
  #chatbox {
    margin: 0 auto;
    visibility: hidden;
    text-align: center;
  }
  #chatbox, #top{
    background-color: gainsboro;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 5px;
    width:fit-content;
    padding: 0.5rem;
  }
  #chatbox h3 {
    margin: 0.5rem 0;
  }
  #messageField{
    margin-left: -4px;
  }
  #messageField:focus{
    outline: none;
  }
  #messageField:focus-visible{
    outline: 2px;
  }