<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple chat app</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</head>
<body>
  <section id="top">
    <!-- User Name Input -->
    <h3>Sign In</h3>
    <form id="nameForm" action="/addUser" method="post">
      <label for="name">Name: </label>
      <input id="nameField" type="text" name="name" />
      <label for="color">Color: </label>
      <select id='colorField' name="color">
        <option value='black'>Black</option>
        <option value='blue'>Blue</option>
        <option value='red'>Red</option>
      </select>
      <input type="submit" value="Set User" />
    </form>
    <!-- Not being used -->
    <!-- <form id="userForm" action="/getUsers" method="get">
      <select id='urlField'>
        <option value='/getUsers'>/getUsers</option>
        <option value='/notReal'>/notReal</option>
      </select>
      <select id="methodSelect">
        <option value="get">GET</option>
        <option value="head">HEAD</option>
      </select>
      <input type="submit" value="Get User" />
    </form> -->
  </section>
  <!-- Content for response info -->
  <section id="content"> </section>
  <!-- Display the chat -->
  <section id="chat">
    <p id="title-message">NON-PICTORAL CHAT</p>
  </section>
  <!-- Send messages -->
  <section>
  <h3>Send Message</h3>
    <form id="messageForm" action="/sendMessage" method="post">
      <label id="messageLabel"  for="message" class="user-name">Name: </label>
      <input id="messageField" type="text" name="message" class="user-message"/>
      <input type="submit" value="Send" />
    </form>
    <!-- <button type="button" id="getMessageBtn">Get Messages</button> -->
  </section>
</body>
</html>
