<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pictoral Chat</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/domo-style.css"/>
  <script src="/assets/settingsBundle.js"></script>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="face logo"/></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Log out</a></div>
    <div class="navlink"><a id="makerButton" href="/chat">App</a></div>
  </nav>

  <section id="content">

  </section>

</body>
</html>
